################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dtbcache
*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
/.vs/config/applicationhost.config
/ApplicationLogs.Tests/obj
/ApplicationLogs/obj
